<footer class="f">
    <div class="f-container">
        <div class="f-social-media">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-brand">
            TravoNest
        </div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            &
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>