<% layout('layouts/boilerplate') -%>
  <body>
    <div>
        <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 mt-3">
          <% for(let data of datas) { %>
            <a href="/listing/<%= data._id %>" class="card-link">
                <div class="card listing-card">
                  <img src=<%= data.image.url %> class="card-img-top" alt="Opps no image">
                  <div class="card-img-overlay"></div>
                  <div class="card-body">
                    <p class="card-text"><i><b><%= data.title %></b></i></p>
                    <p class="card-text">&#8377;<%=data.price ? data.price.toLocaleString("en-IN") : null %> / Night</p>
                  </div>
              </div>
            </a>
            <% } %>
        </div>
    </div>
  </body>
