<% layout('layouts/boilerplate') -%>
<div>
    <form method="post" action="/sign-up">
        <div class="mb-3">
            <label for="username" class="form-label">Username : 
            </label>
            <input id="username" class="form-control" type="text" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email : 
            </label>
            <input id="email" class="form-control" type="text" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password : 
            </label>
            <input id="password" class="form-control" type="text" name="password" required>
        </div>
        <button>SignUp</button>
    </form>
</div>