<% layout('layouts/boilerplate') -%>
<div class="grid col-md-4 offset-4 h-50 mt-5">
    <h2 class="mb-4">SignUp in Travonest</h2>
    <form method="post" action="/sign-up" class="d-flex flex-column gap-3">
        <div class="mb-3">
            <input id="username" placeholder="Username" class="form-control" type="text" name="username" required>
        </div>
        <div class="mb-3">
            <input id="email" placeholder="Email" class="form-control" type="text" name="email" required>
        </div>
        <div class="mb-3">
            <input id="password" placeholder="Password" class="form-control" type="text" name="password" required>
        </div>
        <button class="button-1 bg-info offset-4 col-md-4">SignUp</button>
    </form>
</div>